<form action="AddEmployee" method="post">
  <div class=form-group>
    <label for="id" class="form-label">EmpId</label>
    <input type="text" class="form-control" id="id" name="empid"/>
  </div>
   <div class=form-group>
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name"/>
  </div>
   <div class=form-group>
    <label for="dept" class="form-label">Department</label>
    <input type="text" class="form-control" id="dept" name="department"/>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>